<table id="bindTable" class="table" CELLPADDING="5" CELLSPACING="0" BORDER="1" align="center">
  <thead>
    <tr>
      <th align="center">ENQ Id</th>
      <th align="center">Model Id</th>
    </tr>
  </thead>
  <tbody>
    {{#each proposals}}
    <tr>
      <td align="center">{{enquiryId}}</td>
      <td>
        <TABLE CELLPADDING="5" CELLSPACING="0" BORDER="1" align="center">
          <THEAD>
            <TR>
              <TH ALIGN="center"> Model_Id </TH>
              <TH ALIGN="center"> Name </TH>
              <TH ALIGN="center"> Description </TH>
              <TH ALIGN="center"> Qty </TH>
              <TH ALIGN="center"> rate </TH>
              <TH ALIGN="center"> cost </TH>
            </TR>
          </THEAD>
          <TBODY>
            {{#each proposal}}
            <TR>
              <TD ALIGN="center"> {{modelId}} </TD>
              <TD ALIGN="center"> {{name}} </TD>
              <TD ALIGN="center"> {{description}}</TD>
              <TD ALIGN="center"> {{qty}} </TD>
              <TD ALIGN="center"> {{rate}}</TD>
              <TD ALIGN="center"> {{cost}} </TD>
            </TR>
            {{/each}}
          </TBODY>
        </TABLE>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>